- provide :title, "Share your Green Act"

.row.justify-content-center
  .col-sm-6.col-md-4.mt-3
    = form_for @green_act do |f|
      .form-group
        = f.label :content, "Your Green Act"
        = f.text_area :content, class: "form-control"
        = render "shared/form_error_message", object: @green_act, field: "content"

      .form-group
        = f.label :details, "More details (optional)"
        = f.text_area :details, class: "form-control"

      .form-group
        = f.submit "Submit", class: "btn btn-primary"

= render "shared/highlight_error_fields"
