%nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
  .container
    %a.navbar-brand{:href => "#"} Green Acts
    %button.navbar-toggler{"data-toggle" => "collapse", "data-target" => "#navigationMenu"}
      %span.navbar-toggler-icon

    .collapse.navbar-collapse#navigationMenu
      %nav.navbar-nav.ml-auto
        - if user_signed_in?
          .nav-item
            = link_to "Share your Green Act", new_green_act_path, class: "nav-link"
          .nav-item.dropdown
            %a.nav-link.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"} Username
            .dropdown-menu
              %a.dropdown-item{:href => "#"} Profile
              = link_to "Account Settings", edit_user_registration_path, class: "dropdown-item"
              .dropdown-divider
              = link_to "Sign Out", signout_path, method: :delete, class: "dropdown-item"
        - else
          .nav-item
            = link_to "Sign Up", signup_path, class: "nav-link"
          .nav-item
            = link_to "Sign In", signin_path, class: "nav-link"

